
body{
    display: flex;
    flex-direction: column;
    font-family: "Nova Square", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;  
    background-image: url("recursos/imagenes/fondo.jpg");
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-attachment: fixed;
}
.nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    color: wheat;
}
nav ul li a:hover{
    color: red;
    cursor: pointer;
    background-color: bisque;
}
.speed {
    color: rgb(58, 13, 237);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    text-align: center;
}
#author{
    color: rgb(103, 93, 145);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    text-align: center;
}
#titulo{
    color: rgb(103, 93, 145);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    text-align: center;
}
#cont1{
    color: rgb(58, 13, 237);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
}
#cont2{
    color: rgb(58, 13, 237);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    text-align: center;
}
#speed {
    color: rgb(58, 13, 237);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
}
#cont3{
    color: rgb(58, 13, 237);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
}
#infowind{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
